

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.rev_main{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
}

.review{
    width: 510px;
    height: auto;
    background: rgba(255, 255, 255, 0.739);
    border-radius: 10px;
    margin: 50px 50px;
    box-shadow: 5px 10px 20px black;
    transition: all 0.5s ease-in-out;
}

.review:hover{
    background: white;
    transform: scale(1.10);
}

.picture{
    transform-origin: 50% 50%;
    overflow: hidden;
    background-size: cover;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 10px black;
    margin-top: -40px;
    margin-left: -15px;
    border-radius: 50%;
}

.rev_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0;
    top: -80px !important;
    position: relative;
    width: 100%;
    height: 80%;
    text-align: right;
    padding: 0 10px;
    
}

.rev_box .rev_name{
    margin-right: 10%;
    width: 80%;
    align-self: flex-end;
    color: black;
    font-weight: 600;
    font-size: 150%;
    text-align: right;
    text-shadow: 0 0 10px white;
}

.rev_box .t_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 10%;
    color: black;
    font-size: 120%;
    text-align: right;
}

.t_content div{
    color: black;
    word-wrap: break-word;
}


.t_content .date{
    font-size: 70%;
    margin-right: 10px;
}

.rev_box .score{
    display: flex;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

.rev_box .score .outof100{
    color: black;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 110%;
    font-weight: 700;
}


.rev_box .rating{
    width: 60%;
    color: black;
    text-align: start;
    transition: all 1s ease-in-out;
}

.meter { 
	height: 25px;
	position: relative;
	background: #555;
	border-radius: 25px;
	padding: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter span {
    display: block;
    height: 100%;
    font-size: small;
    text-align: center;
    color: black;
    line-height: 13px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}



.green span{
    background-color: #12f712;
}

.orange span {
    background-color: #ee781e;
}

.red span {
    background-color: #f31111;
}

input, textarea{
    color: black;
    padding: 8px;
    border-radius: 3px;
    border-style: none;
    box-shadow: 1px 1px 10px black;
    margin-bottom: 15px;
    width: 180px;
}

.imgcont{
    display: flex;
    flex-flow: row nowrap;
}

.imgcont .deleteRev{
    margin: 10px 10px 0 auto;
}

.imgcont i{
    font-size: 200%;
    transition: all 0.25s ease-in-out;
}

.imgcont i:hover{
    transform: scale(1.25);
    color: red;
}

.rev_form{
    color: black;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.534);
}

.rev_form h4{
    font-size: 200%;
    margin: 20px;
}

.add_review{
    height: 600px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.firstline{
    width: 80vw;
    max-width: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.secondline{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

#rev_cont{
    width: 90%;
}

.names{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.poster{
    font-size: small;
    margin-right: 10px;
    width: 100px;
}

.dp{
    margin-top: auto;
}

.image_input{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-right: 10px;
}

.image_input input{
    box-shadow: 1px 1px 10px black;
    width: 300px;
}

.deleteRev button, .deleteRev i{
    background: none;
    border: none;
    color: black;
}

.rating_input{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 10px;
}

.rating_input label{
    margin-bottom: 10px;
}

.select_range{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 9px;
}

#textinput{
    margin-bottom: 15px;
}

input[type=range]::-moz-range-track{
    background-color: #EC7357;

}

.button_line{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.d_button{
    transform-origin: 50% 50%;
    color: white;
    width: 130px;
    height: 40px;
    background: transparent;
    border: 3px solid white;
    border-radius: 40px;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.d_button:hover{
    color: #EC7357;
    background: white;
}

.d_button:active{
    letter-spacing: 2px;
}


.d_button:after{
    content: "SUBMIT";
}

.clicked{
    width: 40px;
    border-color: transparent;
    border-width: 3px;
    font-size: 0;
    
    border-left-color: white;
    animation: rotating 2s 0.2s linear infinite;
}

.clicked:after{
    content: "";
}

.clicked:hover{
    background: none;
    cursor: default;
}

.done{
    font-size: 12px;
    color: #EC7357;
    border: none;
    background: white;
}

.done:after{
    content: "done !";
}

.done:hover{
    cursor: default;
}

.link{
    transform-origin: 50% 50%;
    color: white;
    width: 300px;
    height: 40px;
    background: transparent;
    border: 3px solid white;
    border-radius: 40px;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.link:hover{
    color: #EC7357;
    background: white;
}

.link:after{
    content: "LOG IN HERE";
}

.notloggedin{
    margin-top: -10px;
    text-align: center;
    margin-bottom: 40px;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

