@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

@font-face{
    font-family: 'LemonMilk';
    src: url("public/fonts/LEMONMILK-Light.otf");

}

*{
    font-family:Lato;
    font-weight: 400;
    text-decoration : none;
    color : rgba(223, 249, 251,1.0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

main{
    min-height: 100%;
    
}



body{
    background:  #EC7357;
    background-image: linear-gradient(to right, rgb(250, 145, 121) ,rgb(236, 115, 87));
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 500%;
    text-shadow: 1px 1px 2px black;
}

.title{
    margin: 150px auto;
    font-size: 4vw;
}
.artist_title{
    margin: 35px auto;
    font-size: 78px;
}
.welcome-title{
    font-weight: 300;
    font-size: 70px;
    margin-bottom: 70px;
}

h2{
    text-transform: uppercase;
    font-size: 150%;
}

.welcome{
    padding-top: 10%;
    margin-top: 150px;
    margin-bottom: 700px;
    
    text-align: center;  
}

.seq-arrow{
    display: none;
}

.seq-link{
    padding: 20px;
    background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba(249, 202, 36, 0.6) 50%);
    background-size: 200%;
    border-radius: 10rem;
    transition: background-position 1s ease-in-out;
}
  
.seq-link:hover{
    background-position: -100%;
}

h3{    
    font-size: 500%;
}

.spot{
    width: 100%;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#P1{
    flex-direction: column;
    color: white;
    
    background-image: url('https://wallpaperaccess.com/full/1403827.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.spot_title{
    text-shadow: 0px 0px 5px #000000;
    padding-bottom: 80px;
}

h1{
    margin: auto;
}

h2{
    padding-top: 1%;
}

#circle{
    display: block;
    position: relative;
    z-index: 1;
    width:500px;
    height:500px;
    top:0px;
    left:-50%;
    background:rgb(236, 115, 87);
    opacity: 0.8;
    border-radius:50%;
    transition:all 1s ease-in-out;
}

#circle.active{
    position: relative;
    width:5000px;
    height: 5000px;
    top: 50%;
    left:50%;
    margin-left:-1000px;
    margin-top:-1000px;
    opacity: 1;
    transition:all 1s ease-in-out;
}

#ArticlePJ{
    z-index:4;
    transition:all 0.5s;
    transition-delay: 1s; 
}

#textCircle{
    margin-top : 45%;
    margin-left: 45%;
    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

#imgArticle img{
    z-index: 10;
    position: relative;
    top: 30px;
    left: 330px;
    width: 25px;
    height: auto;
}

#imgArticle img:hover, #close:hover{
    cursor: pointer;
}

#circle.active:hover, #ArticlePJ:hover, #textCircle:hover, .circle:hover{
    cursor: default;
}

#close{
    z-index: 4;
    position: relative;
    padding: 20px 0px;
}

#close img{
    width: 30px;
    height: 30px;
}

#art{
    display: none;
    align-self: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    flex-direction: column;
    align-items: center;
}

#art div, #art h2, #art{
    transition: all 1s ease-in-out;
}
#artPhoto #content{
    font-size: 20px;
    font-family: 'LemonMilk';
    width: 800px;
    text-align: justify;
}
#art p{
    margin-left: 20px;
    margin-right: 10px;
}
#artPhoto{
    display: flex;
    flex-flow: column;
}
#ArticlePhoto{
    z-index: 4;
    width: 30%;
    height: 30vw;
    margin: 25px 45px 0 20px;
    background-color: #FDD692;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.664);
}

#ArticlePhoto img{
    height: 70%;
    width: auto;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.664);
}

#legende{
    color: #754F44;
    margin-top: 10px;
    margin-bottom: -10px;
}

#art h2{
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 350%;
    text-shadow: 5px 10px 20px black;
}

#artPhoto{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#ArticlePJ{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 110%;
    text-align: justify;
    text-indent: 5%;
}

#article{
    width: 100%;
}

@media only screen and (max-width: 1050px){
    .seq-link{
        display: none;
    }
    .seq-arrow{
        display: flex;
        margin: auto;
        width: 100px;
        padding: 20px;
        background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba(249, 202, 36, 0.6) 50%);
        background-size: 200%;
        border-radius: 10rem;
        transition: background-position 1s ease-in-out;
        justify-content: center;
    }
    .seq-arrow img{
        height: 50px;
        width: 50px;
    }
    .seq-arrow:hover{
        background-position: -100%;
    }
}

.quickinfos
{
    margin: 1% auto 20px auto;
    padding-bottom: 1%;
    border-bottom: 1px solid white;
    display: flex;
    width: 70%; 
    justify-content: space-around;
}

.quickinfos p
{
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 25px;
}
.quickinfos div, .quickinfos span
{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.infos
{
    display:flex;
    font-size: large;
    flex-wrap: nowrap;
    

}

.lArrow
{
    margin: 100px 0 10px 70px;
    transition: all 0.5s ease-in-out;
}

.lArrow button, .lArrow i
{
    
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 33px;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}
.lArrow a{
    display: flex;
    flex-flow: row nowrap;
}
.lArrow
{
    font-family: 'LemonMilk';
}
.bandphoto
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 300px;
}

.Bio1
{
    margin-top: 2%;
    margin-left: 8%;   
    font-size: 250%;
    margin-bottom: 2%;
}

.Bio2
{
    
    font-size: large;
    margin:auto;
    padding-bottom: 2% ;
    width: 70%;
    
}

.Bio
{
    width:90%;
    margin:auto;
}

.album
{
    margin:auto;
    margin-left: 10%;
    display:flex;
    padding-left: 8%;
    border-left: 2px solid white;
    flex-flow: row wrap;
    align-items: center;
}
.album p {
    width: 300px;
}

.albumphoto
{
    height: 300px;
    width: 300px;
    margin: 30px 0 0 0;
}
#disco{
    margin-bottom: 25px;
}

.albumtext
{
    font-size:25px;
    margin: 20px auto 20px 0;
    justify-content: center;
    text-align: center;
    height: 50px;
}


#special
{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    
    text-shadow: none;
    transition: 0.2s;
}

#special:hover
{
    color: #EC7357;
    background-color: white;
}

.artists
{
    margin-top: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;   
    margin-bottom: 5%;
    justify-content: center;
}

.first{
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 400px;
    background-position: center;
    width: 800px;
    transition: 0.5s;
}


.first:hover
{
    box-shadow: inset 0px 0px 300px 0px rgba(0,0,0,1);
    font-size: 110%;
}


.artist_text
{
    text-align: center;
    text-shadow: 0px 0px 10px black;
    width: 100%;
    line-height: 380px;
    font-size: 250%;
    transition: all 0.3s linear;
}
.duo{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
@media only screen and (max-width: 450px){
    .lArrow
    {
        margin: 100px 0 10px 30px;
    }

}
@media only screen and (max-width: 650px){
    .quickinfos
    {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        
    }
    .quickinfos div, .quickinfos span
    {
        margin-top: 5px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .duo{
        flex-flow: row wrap;
    }
    #ArticlePhoto{
        height: 300px;
        width: 300px;
    }
    .title{
        font-size: 40px;
    }
}

@media only screen and (max-width: 404px){
    .lArrow
    {
        margin: 100px 0 10px 20px;
    }

    .lArrow div{
        display: none;
    }
    .lArrow i{
        font-size: 200%;
    }
    .artist_title{
        font-size: 35px;
    }
    .albumphoto{
        width: 250px;
        height: 250px;
    }
    .welcome-title{
        font-size: 60px;
    }
    
}