@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

@font-face{
    font-family: 'LemonMilk';
    src: url("public/fonts/LEMONMILK-Light.otf");
}

header{
    z-index: 10 ;
}

#h{
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.scrolled{
    background: #754F44;
    opacity: 1;
}

.image{
    height: 70px;
    
}

.menu
{
    display: flex;
    padding-top: 3px;
    width: 100%;
    height: 72px;
    line-height: 72px;
    box-shadow: none;
    flex-wrap: nowrap;
}

.nav_left{
    position: relative;
    left: 0;
    margin-left: 50px;
}

.nav_right{
    margin-left: auto;
    margin-right: 5%;
    overflow: hidden;
    
}

.nav_right:hover{
    cursor: pointer;
}

.nav_link{
    font: 'LemonMilk';
    font-size: 120%;
    color: rgba(223, 249, 251,1.0);
    text-transform: uppercase;
    margin: 0 30px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

.nav_link:hover{
    border-color: #EC7357;
    cursor: pointer;
}

.nav_toggle{
    width: 35px;
    position: relative;
    display: none;
    margin-right: auto;
    margin-left: 65px;
    cursor: pointer;
}

.active{
    
}

.hidden{
    
}

@media only screen and (max-width: 1250px){
    .nav_right{
        width: 70px;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
    }
    .image{
        position: relative;
        right: 97px;
        border-radius: 100px;
        transition: all 0.5s ease-in-out;
    }
}

@media only screen and (max-width: 1080px){
    
    .nav_left{
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 72px;
        margin: 0;
        width: 200px;
        transform: translateX(-100%);
        background-color: #754F44;
        opacity: 0.8;
        transition: all 0.3s cubic-bezier(1,.01,0,.97);
    }
    .nav_link{
        display: block;
        text-align: center;
        padding: 0;
        margin: 0 10px;
    }
    .nav_link:hover{
        background-color: #754F44;
        opacity: 1;
    }
    .active{
        transform: translateX(0);
    }
    .hidden{
        transform: translateX(-100%);
    }
    .hamburger{display: inline-block;}
    .hamburger-box{display: inline-block;}
    .hamburger-inner{display: block;}
}

