.subtitles{
    background-color: #fc9e89;
    border-top: 1px solid #a86c5d;
    border-bottom: 1px solid #a86c5d;
}

.subtitles h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

input, textarea{
    color: black;
    padding: 8px;
    border-radius: 1rem;
    border-style: none;
    box-shadow: 1px 1px 10px black;
}

.form_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

.names{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    flex: 1 1 0;
}

.subject{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

#subject{
    width: 100%;
}

.message{
    width: 100%;
}

#message_content{
    width: 100%;
}

.button_line{
    margin-bottom: 50px;
}
